// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter: hsl(0, 0%, 80%) !default;
$gray-lightest: hsl(0, 0%, 90%) !default;
$text-color: hsl(0, 0%, 10%) !default;
$line-height: 1.5 !default;

$field-padding-vertical: 11px !default;
$field-padding-horizontal: 21px !default;

$border-radius: 50px;

.btn {

  $block-name: &; // #{$block-name}__element
  @include paragraph17Regular;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  vertical-align: middle;
  margin: 0;
  padding: $field-padding-vertical $field-padding-horizontal;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: $border-radius;
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  background-image: none;
  cursor: pointer;

  svg {
    fill: currentColor;
    transition: $time;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--primary {
    color: $white;
    background-color: $blue-default;
    border: 1px solid $blue-default;

    &:hover,
    &:focus {
      color: $white;
      background-color: $blue-hover;
      border-color: $blue-hover;
    }

    &:active {
      background-color: $blue-active;
      border-color: $blue-active;
    }
  }

  &--primary-border {
    color: $blue-default;
    border-color: $blue-default;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $blue-hover;
      border-color: $blue-hover;
      background-color: transparent;
    }

    &:active {
      color: $blue-active;
      border-color: $blue-active;
    }
  }
}
