mixin site-application(dataTheme)
  +fragment({
    mobileStyle: `
      display: flex;
      padding-top: 132px;
      flex-direction: column;
      align-items: center;
      background: var(--Linear-Sky, linear-gradient(180deg, #F5F5F7 0%, #BED1D9 100%));
    `,
    desktopStyle: `
      display: flex;
      padding-top: 85px;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      background: linear-gradient(180deg, #F5F5F7 0%, #BED1D9 100%);
    `,
    dataTheme: dataTheme,
  })
    +fragment-wrap({
      mobileStyle: `
        display: flex;
        padding: 0px 15px;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        align-self: stretch;
      `,
      desktopStyle: `
        display: flex;
        padding: 0px 173px;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        align-self: stretch;
      `,
      count: 1,
      dataTheme: dataTheme,
    })
      +fragment-text({
        text: "Сайт-приложение",
        mobileStyle: `
          color: var(--Cod-Gray, #101010);
          text-align: center;
          /* Title 32 Semibold */
          font-family: SF Pro Display;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 36px; /* 112.5% */
          letter-spacing: 0.064px;
        `,
        desktopStyle: `
          color: var(--SystemBlack, #121212);
          text-align: center;
          /* Big Title (S) */
          font-family: SF Pro Display;
          font-size: 48px;
          font-style: normal;
          font-weight: 600;
          line-height: 52px; /* 108.333% */
          letter-spacing: -0.096px;
        `,
        count: 1,
        dataTheme: dataTheme,
      })
      +fragment-text({
        text: "Супербыстрый, интуитивно понятный  интерфейсы с феноменальной производительностью.",
        mobileStyle: `
          color: var(--Cod-Gray, #101010);
          text-align: center;
          /* Body 19 Regular */
          font-family: SF Pro Display;
          font-size: 19px;
          font-style: normal;
          font-weight: 400;
          line-height: 23px; /* 121.053% */
        `,
        desktopStyle: `
          color: var(--SystemBlack, #121212);
          text-align: center;
          /* Title 24 (R) */
          font-family: SF Pro Display;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 116.667% */
          letter-spacing: 0.216px;
        `,
        count: 2,
        tag: 'p',
        dataTheme: dataTheme,
      })
    +fragment-wrap({
      mobileStyle: `
        display: flex;
        padding: 24px 24px 32px 24px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 14px 16px;
        align-self: stretch;
        flex-wrap: wrap;
      `,
      desktopStyle: `
        display: flex;
        padding: 24px 24px 32px 24px;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 14px 16px;
        align-self: stretch;
        flex-wrap: wrap;
      `,
      count: 2,
      dataTheme: dataTheme,
    })
      a.btn-link(href="#")
        span Презентация
        svg(width="7" height="12")
          use(href="img/symbols.svg#icon-right")
      a.btn.btn--primary-border(href="#") Презентация
        svg(width="7" height="12")
          use(href="img/symbols.svg#icon-right")
    +fragment-wrap({
      count: 3,
      dataTheme: dataTheme,
    })
      +fragment-img({
        img: 'img/content/site-applicationpng.png'
      })
