include ../blocks/shared/config/utils.pug
include ../blocks/shared/config/global-const.pug
include ../blocks/shared/config/pages.pug

include ../blocks/shared/ui/burger/burger.pug
include ../blocks/shared/ui/logo/logo.pug
include ../blocks/shared/ui/form/form.pug
include ../blocks/shared/ui/field-text/field-text.pug

include ../blocks/entities/fragment/fragment.pug
include ../blocks/entities/phone/phone.pug
include ../blocks/entities/nav-list/nav-list.pug
include ../blocks/entities/contacts-info/contacts-info.pug
include ../blocks/entities/contact-group/contact-group.pug
include ../blocks/entities/socials/socials.pug
include ../blocks/entities/mb-menu/mb-menu.pug

include ../blocks/widgets/page-header/page-header.pug
include ../blocks/widgets/page-footer/page-footer.pug
include ../blocks/widgets/sidebar/sidebar.pug
include ../blocks/widgets/module-marketing/module-marketing.pug
include ../blocks/widgets/site-application/site-application
include ../blocks/widgets/bg-video/bg-video
include ../blocks/widgets/bg-link/bg-link
include ../blocks/widgets/client-errors/client-errors
