mixin page-footer
  footer.page-footer&attributes(attributes)
    .container
      .grid-tpl-layout
        .page-footer__column
          .page-footer__service
            p.page-footer__text © Бarashev 2015 — 2022
          .page-footer__develop
            .develop
              p.develop__text Сайт приложение от #[a(href="https://barashev.com/" target="_blank") Бarashev]
