$transition-menu: opacity 0.3s, transform 0.7s cubic-bezier(.4,0,.6,1);
$ident: 25px;

.mb-menu {
  height: 0;
  transition: height 480ms cubic-bezier(.4,0,.6,1) 80ms,background 480ms cubic-bezier(.4,0,.6,1) 80ms;

  @media (min-width: $screen-xl) {
    display: none;
  }
}

.mb-menu__content {
  padding-top: 31px;

  opacity: 0;
  transform: translateY(-8px);
  transition-delay: calc(.2s + 0 * 20ms);
  transition-duration: .24s;
  transition-property: opacity,transform,visibility;
  transition-timing-function: cubic-bezier(.4,0,.6,1),cubic-bezier(.4,0,.6,1),step-start;
  height: 100%;
}

.mb-menu__wrap {
  position: relative;
  height: 100%;
}

.mb-menu__close {
  position: absolute;
  bottom: calc(100% + 19px);
  left: 0;
  width: 48px;
  height: 48px;
  border: none;
  background-color: transparent;
  transition: $time;
  transform: rotate(-180deg);

  svg {
    fill: $white;
  }
}

.mb-menu__list,
.mb-menu__sub-list {
  @include ul-none;
  height: 100%;
  overflow: auto;
}

.mb-menu__link {
  @include Title24Semibold;
  display: block;
  width: 100%;
  text-decoration: none;
  color: $athens-gray;
  padding: 8px 48px;
}

.mb-menu__list {
  transition: $transition-menu;

  &.visibility-hidden {
    transform: translateX(-$ident);
  }
}

.mb-menu__sub-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: $transition-menu;

  &.visibility-hidden {
    transform: translateX($ident);
  }
}
