mixin contact-group
  .contact-group
    .contact-group__header
      span Мессенджеры
    a.contact-group__link(href="#")
      img(src="img/content-icon/phone.svg", alt="Иконка")
      span +7 (917) 567-67-68
    a.contact-group__link(href="#")
      img(src="img/content-icon/wp.svg", alt="Иконка")
      span +7 (917) 567-67-68
    a.contact-group__link(href="#")
      img(src="img/content-icon/tg.svg", alt="Иконка")
      span @pplans
    a.contact-group__link(href="#")
      img(src="img/content-icon/mail.svg", alt="Иконка")
      span ivan@barashev.com
