.contact-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 257px;
  width: 100%;

  margin-left: auto;
}

.contact-group__header {
  @include subheadings;
  color: #666;
}

.contact-group__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: $white;
  text-decoration: none;
  padding: 10px 0px;

  img {
    display: inline-block;
    width: 26px;
    height: 26px;
    object-fit: cover;
  }
}
