-
  const menuNav = [
    {
      text: 'Отдел маркетинга',
      link: "#",
      attrs: {
        class: 'active'
      }
    },
    {
      text: 'Сайт приложение',
      link: "#"
    },
    {
      text: 'Умная реклама',
      link: "#"
    },
    {
      text: 'Контакты',
      link: "#"
    }
  ]

  const subMenuNav = [
    {
      text: 'Подпункт один',
      link: "#",
    },
    {
      text: 'Подпункт два',
      link: "#"
    },
    {
      text: 'Подпункт три',
      link: "#"
    },
    {
      text: 'Подпункт четыре',
      link: "#"
    },
    {
      text: 'Подпункт пять',
      link: "#"
    }
  ]
