-
  const listSocials = [
    {
      img: 'inst',
      alt: 'instagram'
    },
    {
      img: 'vk',
      alt: 'ВКонтакте'
    },
    {
      img: 'yt',
      alt: 'YouTube'
    },
    // {
    //   img: 'tg',
    //   alt: 'Телеграм'
    // },
    // {
    //   img: 'wp',
    //   alt: 'WhatsApp'
    // },
    // {
    //   img: 'mail',
    //   alt: 'Почта'
    // },
    // {
    //   img: 'fb',
    //   alt: 'FaceBook'
    // },
  ];
