//- Неймин submenu и menu-he или объединить

mixin page-header({})
  header.page-header&attributes(attributes).page__header
    .container
      .page-header__xs-row
        .flex-tpl-layout.page-header__layout-center
          .flex-tpl-layout__left-col
            +logo('index.html')
              picture
                source(srcset='img/content/logo.svg' media=`(min-width: ${mediaSize.xl}px)`)
                img(src='img/content/logo-mobile.svg', alt='Логотип')
          .flex-tpl-layout__right-col
            .page-header__row
              +burger('Меню')(data-hover-menu="").page-header__burger
      +submenu
        +nav-submenu
        +contact-group
    //- +mb-menu
