@mixin grid-default($i) {
  display: grid;
  grid-template-columns: repeat($i, 1fr);
  gap: 30px; //TODO: Дефолтное значение
}

.grid-tpl-layout {
  display: grid;
  gap: 30px;

  @media (min-width: $screen-xl) {
    grid-template-columns: 270px 1fr;
  }
}
