.grid-tpl-layout {
  display: grid;
  gap: 30px;

  @media (min-width: $screen-xl) {
    grid-template-columns: 270px 1fr;
  }
}

.flex-tpl-layout {
  display: flex;
  @media (min-width: $screen-xl) {
    gap: 30px;
  }
}

.flex-tpl-layout__left-col {
  @media (min-width: $screen-xl) {
    width: 270px;
    flex-shrink: 0;
  }
}

.flex-tpl-layout__right-col {
  @media (min-width: $screen-xl) {
    flex-grow: 1;
  }
}
