extends pug/layout.pug

block meta
  title Страница не найдена

block content
  +client-errors({
    imgSrc: 'img/content/error-smile.png',
    title: 'Ошибка 404',
    text: 'Страница не найдена',
    dataTheme: 1
  })
