extends pug/layout.pug

block meta
  title Страница благодарности

block content
  +client-errors({
    imgSrc: 'img/content/icon-complite.png',
    title: 'Спасибо!',
    text: 'Мы получили заяваку и свяжемся с вами в ближайшее время.',
    dataTheme: 1
  })
