-
  const navSubmenu = [
    {
      title: 'О нас',
      list: [
        "Агентство",
        "Вакансии"
      ]
    },
    {
      title: 'Кейсы',
      list: [
        "Сфера услуг",
        "Производство",
        "Бьюти",
      ]
    },
    {
      title: 'Услуги',
      list: [
        "Маркетинг",
        "Интерфейсы",
        "Реклама",
        "Поддержка",
      ]
    },
  ]
